:root {
  --red-color: #70161e;
  --yellow-color: #d9de7d;
  --green-color: #7ea16b;
  --blue-color: #1c3144;
}

.red-color {
  background-color: var(--red-color) ;
}

.yellow-color {
  background-color: var(--yellow-color) ;
}

.green-color {
  background-color: var(--green-color);
}

.blue-color {
  background-color: var(--blue-color) ;
}

.half-size {
  width: 50%;
  height: 100%;
}

.flex-container {
  display: flex;
  text-align: center;
  height: 50vh;
}

.center-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#buttons {
  padding-top: 10px;
  text-align: center;
}

.btn {
  border-radius: 5px;
  color: black;
  display: inline-block;
  font-size: 22px;
  margin: 20px;
  padding: 15px 25px;
  position: relative;
  text-decoration: none;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px, 1px, 0px, 0px;
}

.box-shadow {
  box-shadow: 0 5px 0 0 grey;
  outline: none;
}
